/* Copyright 2020 Changkun Ou. All rights reserved.
Use of this source code is governed by a MIT
license that can be found in the LICENSE file. */

:root {
    --gray-1: #202224;
    --gray-2: #3e4042;
    --gray-3: #555759;
    --gray-4: #6e7072;
    --gray-5: #848688;
    --gray-6: #aaacae;
    --gray-7: #c6c8ca;
    --gray-8: #dcdee0;
    --gray-9: #f0f1f2;
    --gray-10: #fafafa;
    --turq-light: #5dc9e2;
    --turq-med: #00add8;
    --turq-dark: #007d9c;
    --blue: #92e1f3;
    --green: #00a29c;
    --pink: #ce3262;
    --purple: #542c7d;
    --slate: #253443;
    --white: #fff;
    --yellow: #fddd00;
    --header-height: 3.5rem;
}
body {
    margin: 0;
    font-family: Roboto, sans-serif;
}
a {
    color: var(--turq-dark);
    text-decoration: none;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.header {
    background-color: var(--turq-dark);
    height: 60px;
    text-align: center;
    margin: 0;
}
#container {
    width: 60%;
    margin: 0 auto;
    overflow-wrap: break-word;
    hyphens: auto;
}
@media only screen and (max-width: 600px) {
    #container {
        width: 90%;
        margin: 0 auto;
    }
}

.doc-content {
    margin-top: 50px;
}

/* dark mode support */

.dark-switch {
    display: flex;
    align-items: center;
}
.dark-switch:focus {
    outline: 0;
}
.custom-control-label {
    color: var(--gray-10);
}
.custom-switch .custom-control-label::before {
    background-color: transparent;
    border: var(--gray-9) solid 1px;
}
.custom-switch .custom-control-label::after {
    background-color: var(--gray-9);
}
.custom-control-input:checked~.custom-control-label::before {
    border-color: var(--turq-dark);
    background-color: var(--turq-light);
}
[data-theme="dark"] {
    background-color: var(--gray-1) !important;
    color: var(--gray-6);
}
[data-theme="dark"] a {
    color: var(--turq-med) !important;
}
[data-theme="dark"] .header {
    background-color: var(--turq-dark);
}
input[type=checkbox] {
    outline: 0;
}
@media only screen and (max-width: 430px) {
    .dark-switch {
        font-size: 10px;
    }
}