<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>234F9E64-1AF8-4E9E-A6AE-58C832584251</string>
	<key>title</key>
	<string>Go Style</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
