<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>F955FA36-7E7F-4545-8848-1122F2882E33</string>
	<key>title</key>
	<string>Greyscale</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
